*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000;
    color: #fff;
}

#nav-bar{
    width: 100%;
    height: 100vh;
    background-image: url(images/nav-tag.jpg);
    background-size: cover;
    background-position: center;

}
#bar{
    width: 100%;
    height: 100vh;
    background-image: url(images/laptop1.jpg);
    background-size: cover;
    background-position: center;

}

.container{
    padding: 10px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

logo a{
    font-size: 40px;
    font-family: inherit m;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}
logo span{
    color: #ff7200;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content:  '';
    width: 0;
    height: 3px;
    background: #ff7200;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text p{
    font-size: 40px;
    color: #ff7200;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff7200;
}

/*------------------- ABOUT ---------------------------*/

#about{
    margin: 80px 0;
    color: #ababab;
}
.row{
   display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}
.about-col-2 p{
    word-spacing: 2px;
    
}
.about-titles{
    display: flex;
    margin: 20px 0 40px;
}
.about-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.about-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff7200;
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}
.about-links.active-link::after{
    width: 70%;
}

.about-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.about-contents ul li span{
    color: #b1601f;
    font-size: 14px;
}
.about-contents{
    display: none;
}
.about-contents.active-content{
    display: block;
}

/*-----------Services-----------*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px; 
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: background 0.8s, transform 0.8s;
}
.services-list div i{
    margin-bottom: 20px;
    font-size: 40px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 12px;
}
.services-list div a{
    text-decoration: none;
    font-size: 14px;
    margin-top: 18px;
    display: inline-block;
    color: #fff;
}
.services-list div:hover{
    background: #ff7200;
    transform: translateY(-10px);
}

/*--------------Portfolio-----------*/
#portfolio{
    padding: 40px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 45vh;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.work-layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff7200);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.work-layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.work-layer a{
    margin-top: 20px;
    color: #ff7200;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .work-layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff7200;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background: #b1601f;
}
.btn:hover{
    background: #ff7200;
}

.work .image {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.5s;
}

.image.zoomed {
    transform: scale(2);
}

/*------------Contact---------*/
.message{
    margin-bottom: 40px;
   
}
.contact-list-right{
    flex-basis: 60%;
}
.contact-list-left{
    flex-basis: 35%;
    margin-top: 40px;
}
.contact-list-left p{
    margin-top: 10px;
    font-size: normal;
    color: #ff7200;
}
.contact-list-left p a{
    color: #fff;
    text-decoration: none;
}
.contact-list-left p i{
    margin-right: 10px;
    color: #ff7200;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    display: inline-block;
    color: #b1601f;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff7200;
    transform: translateX(-5px);
}
.btn.btn2{
    display: inline-block;
    cursor: pointer;
}
form .btn2{
    font-size: 18px;
    margin-top: 20px;
    padding: 14px 16px;
}
form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ff7200;
    border-radius: 10px;
    font-size: 14px;
}
form .fa{
    padding-left: 10px;
    font-size: 10px;
}
#msg{
    color: #b1601f;
    margin-top: -40px;
    display: block;
}

/*----------Footer------------*/
hr{
    margin: 50px 40px 10px;
    display: block;
}
.line{
    margin-top: -20px;
    margin-bottom: 5px;
    border: 1px solid #b1601f;
}
#footer{
    background-image: url(images/head.jpg);
    width: 100%;
    max-height: fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-submenu .subme{
    font-size: 35px;
    color: #ababab;
    position: relative;
    margin-bottom: 40px;
}
.footer-submenu .subme::after{
        content: '';
        width: 0;
        height: 3px;
        background: #ff7200;
        left: 0;
        bottom: -6px;
        position: absolute;
    }
.footer-submenu .subme::after{
    width: 40%;
}
.footer-submenu p{
    font-size: 18px;
    margin-top: 10px;
    color: #ababab;
    margin-bottom: 10px;
}
.footer-submenu ig{
    color: #b1601f;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.footer-submenu ul li {
    text-decoration: none;
    margin-top: 5px;
    color: aliceblue;
    font-style: italic;
    font-size: medium;
    list-style: none;
    
}
.footer-link{
    display: block;
    justify-content: initial;
    
}
.footer-link ul li {
    display:list-item;
    text-align: justify;
    justify-content: flex-end;
}
.footer-link ul li a{
    font-size: 20px;
}
.footer-submenu i{
   margin-right: 10px;
   color: #b1601f;
}
.footer-submenu .sub a{
    font-size: 18px; 
    text-decoration: none;
    color: aliceblue

}
.copyright p{
    text-align: center;
    font-size: medium;
    margin: 10px 0;
}

/*-----------CSS for small screen----------*/
nav .fa{
    display: none;
}
@media only screen and (max-width: 600px){
    #nav-bar{
        width: 100%;
        height: 50%;
        
    }
    .header-text{
        margin-top: 40%;
    }
    .header-text p{
        font-size: 30px;
        margin-top: 20%;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa{
        display: block;
        font-size: 25px;
        margin-right:10px;
    }
    nav ul{
        background: #ff7200;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
            display: block;
            margin: 15px;
        }
        nav ul li a{
            font-size: 20px;
        }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }
    #about{
        margin: 30px 0;
    }
    .about-col-1 img{
        width: 200px;
    }
    .sub-title{
    font-size: 30px;
    }
    .about-col-2 p{
        font-size: 14px;
    }
    .about-links{
        margin-right: 30px;
        font-size: 10px;
    }
    .services-list div{
        padding: 25px;
        font-size: 12px;
        margin-right: 8%;
    }
    .services-list div h2{
        font-size: 25px;
    }
    .work{
        margin-right: 8%;
    }
    .work img{
        width: 100%;
        height: 35vh;
    }
    .work-layer h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .work-layer p{
        font-size: 12px;
    }
    .work-layer a{
        font-size: 15px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
    .work-layer{
        padding: 0 20px;
    }
    .btn {
        display: block;
        margin: 30px auto;
    }
    #portfolio {
        padding: 20px 0;
      }
    .message{
        margin-bottom: 20px;
    }
    .contact-list-left, .contact-list-right{
        margin-top: 20px;
        flex-basis: initial;
    }
    form .btn2{
        margin-left: 50px;
    }
    .delete{
        display: none;
    }
    .upper{
        margin-top: -50px;
    }
    .copyright{
        margin: 0 10px;
    }
    .footer-submenu p{
        
        margin-right: 10px;
    }

}














